@charset "ISO-8859-1";


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


html {
	font-size: 16px;
}


header {	
	background-color: #ffffff;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	padding: 1.5rem 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}


footer {	
	background-color: #ffffff;
	box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: center;
	padding: 3rem 0;
}


h1, h2 {
	color: #333333;
	font-weight: bold;
	margin-bottom: 1.5rem;
}

td, th {
	border: 1px solid #cccccc;
	padding: 1rem;
}


.content {
	background-color: #ffffff;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	margin: 5rem auto 0;
	max-width: 800px;
	padding: 2rem;
}

.c {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5rem;
}