<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>Controller.ProductServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>CustomerServlet</display-name>
    	<servlet-name>CustomerServlet</servlet-name>
    	<servlet-class>Controller.CustomerServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>OrderServlet</display-name>
    	<servlet-name>OrderServlet</servlet-name>
    	<servlet-class>Controller.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CustomerServlet</servlet-name>
    	<url-pattern>/CustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>OrderServlet</servlet-name>
    	<url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
        </jsp-property-group>
    </jsp-config>
</web-app>